<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/about.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Acme </span>Web Design</h1>
            </div>
            <nav>
                <li><a href="index.html">Home</a></li>
                <li class="current"><a href="index.html">About</a></li>
                <li><a href="index.html">Services</a></li>
            </nav>
        </div>
    </header>



    <section id="newsletter">
        <div class="container">
            <h1>Subescribe To For Newsletter</h1>
            <form action="">
                <input type="email" placeholder="Enter Email">
                <button type="submit" class="button1">Subescribe</button>
            </form>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article class="main-col">
                <h1 class="page-title">About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quos fuga reiciendis error nesciunt, ex necessitatibus itaque dolorem, perferendis debitis esse reprehenderit rem in libero praesentium odit facere consequatur. Aut!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, soluta magni alias suscipit quibusdam ducimus quo fugiat odio illo ratione reiciendis id neque eius illum temporibus quis assumenda totam incidunt!</p>
            </article>

            <aside id="sidebar">
                <h3>What We Do</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam sint repudiandae molestias reiciendis nobis sequi debitis soluta quo assumenda suscipit.</p>
            </aside>
        </div>
    </section>

    <footer>
        <p>Acme Design, Copyright &copy; 2025</p>
    </footer>

</body>
</html>