<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StyleSheet</title>
    <link rel="stylesheet" href="../style/blog.css">
</head>

<body>
    <header>

        <div class="container" style="margin-top: 500px;">
            <nav>
                <div class="navbar container">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contract</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </nav>

    </header>



    <section>
        <div class="box-1">
            <h1>Hello World</h1>
            <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam
            </p>
        </div>
    </section>

    <section>
        <div class="box-2">
            <h1>Hello World</h1>
            <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam adipisicing elit. Excepturi similique ratione
                tempore quidem aliquam
            </p>
            <a class="button" href="#">Read more</a>
        </div>

    </section>

    <section>
        <form class="login">
            <div class="form-items">
                <label>Name: </label>
                <input type="text" name="name" placeholder="Enter Your Name">
            </div>
            <div class="form-items">
                <label>Email: </label>
                <input type="text" name="name" placeholder="Enter Your Email">
            </div>
            <div class="form-items">
                <label>Massege: </label>
                <textarea placeholder="Write Your Massege" name="massege" id=""></textarea>
            </div>
            <input class="button" type="submit" value="submit">
        </form>

    </section>

    <section>
        <div class="block">
            <h3>Title 1</h3>
            <p>This is Test The Float property <br>
                This is Test The Float propert <br>
                This is Test The Float propert <br>
                This is Test The Float propert <br>
            </p>
        </div>
        <div class="block">
            <h3>Title 1</h3>
            <p>This is Test The Float property <br>
                This is Test The Float propert <br>
                This is Test The Float propert <br>
                This is Test The Float propert <br>
            </p>
        </div>



        <div class="block">
            <h3>Title 1</h3>
            <p>This is Test The Float property <br>
                This is Test The Float propert <br>
                This is Test The Float propert <br>
                This is Test The Float propert <br>
            </p>
        </div>

    </section>


    <div class="clr"></div>

    <section>
        <div class="position">
            <h1>Test1</h1>
            <h2>Test2</h2>
        </div>

        <ul class="my-list">
            <li>Number 1</li>
            <li>Number 2</li>
            <li>Number 3</li>
            <li>Number 4</li>
            <li>Number 5</li>
            <li>Number 6</li>
            <li>Number 7</li>
            <li>Number 8</li>
            <li>Number 9</li>
            <li>Number 10</li>
        </ul>
    </section>

    </div>

    <footer class="main-footer">
        <a href="#">copywrite &2025</a>
    </footer>
    





</body>

</html>