<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>LogIn Page</title>
</head>
<body>
    <div class="login">
        <h2>LogIn To Account</h2>
        <form action="">
            <p>Email:</p>
            <input type="email" placeholder="Please Enter Your Email">
            <p>Password:</p>
            <input type="password" placeholder="Please Enter Your Password">
            <input type="submit" value="LogIn">
            <p><input type="checkbox">Remember Me</p>
        </form>
    </div>
</body>
</html>