<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>My Porfolio</title>
</head>

<body>
    <header>
        <a href="" class="logo">Ahmed</a>
        <nav>
            <a href="" class="active">Home</a>
            <a href="">Services</a>
            <a href="">Educational</a>
            <a href="">Experience</a>
            <a href="">Contact</a>
        </nav>
    </header>

    <section class="home">
        <div class="img-home">
            <img src="../image/pexels-luis-gomes-166706-546819.jpg" alt="">
        </div>
        <div class="home-content">
            <h1>My Name Is <span>Ahmed</span></h1>
            <h3 class="typing-text">I’m a <span></span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate minima expedita perferendis<br>
                dicta dolorum officiis et, sequi totam cum ipsa quae, labore eveniet vero consectetur voluptas iure,
                ipsam aliquam?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate minima expedita perferendi,
                ipsam aliquam?<br>
            </p>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <a href="" class="btn">Hire me</a>
        </div>
    </section>
</body>

</html>