<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/project.css">
    <title>Project</title>
</head>
<body>
    <header id="showcase">
        <h1>Welcom To The Beach</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum esse placeat repellendus explicabo veritatis aliquam?</p>
        <a href="" class="button">Read More</a>
    </header>

    <section id="section-a">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente assumenda laudantium, ducimus aspernatur aliquid dolores suscipit fugit ab quis ullam ipsum laboriosam? Dolorum iure tenetur inventore, numquam molestias autem id iste veniam sint. Voluptatum quo laudantium laboriosam consectetur adipisci ea culpa, alias sed quibusdam cupiditate omnis eveniet, possimus in harum aut perspiciatis natus reprehenderit voluptatem molestias aperiam incidunt animi iste itaque. Blanditiis neque consequatur numquam quasi placeat impedit vel molestias voluptas, voluptates fugit magni animi magnam debitis quis ullam aliquam iusto corporis assumenda aliquid maiores est veniam atque deserunt? Aspernatur sed quod, repellendus corporis laborum rerum eveniet distinctio odit voluptas!</p>
        
    </section>
    <section id="section-b">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente assumenda laudantium, ducimus aspernatur aliquid dolores suscipit fugit ab quis ullam ipsum laboriosam? Dolorum iure tenetur inventore, numquam molestias autem id iste veniam sint. Voluptatum quo laudantium laboriosam consectetur adipisci ea culpa, alias sed quibusdam cupiditate omnis eveniet, possimus in harum aut perspiciatis natus reprehenderit voluptatem molestias aperiam incidunt animi iste itaque. Blanditiis neque consequatur numquam quasi placeat impedit vel molestias voluptas, voluptates fugit magni animi magnam debitis quis ullam aliquam iusto corporis assumenda aliquid maiores est veniam atque deserunt? Aspernatur sed quod, repellendus corporis laborum rerum eveniet distinctio odit voluptas!</p>
    </section>

    <section id="section-c">
        <div class="box-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas omnis accusantium sequi fugiat praesentium tenetur minima, a aut reiciendis harum.
        </div>
        <div class="box-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas omnis accusantium sequi fugiat praesentium tenetur minima, a aut reiciendis harum.
        </div>
        <div class="box-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas omnis accusantium sequi fugiat praesentium tenetur minima, a aut reiciendis harum.
        </div>
    </section>
</body>
</html>