<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="../style/project3.css">
    <title>Document</title>
</head>
<body>
    

    <header class="show-header">
        <div class="content">
            <img src="../image/تنزيل.jfif" class="logo" alt="">
            <div class="title">
                Welcome To Traversy Media
            </div>
            <div class="text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, animi.
            </div>
        </div>
    </header>

    <section class="services">
        <div class="container col-3 center">
            <div>
                <i class="fab fa-youtube fa-3x"></i>
                <h3>YouTube</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, amet.</p>
            </div>
            <div>
                <i class="fas fa-chalkboard-teacher fa-3x"></i>
                <h3>Freelancing Projects</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, amet.</p>
            </div>
            <div>
                <i class="fas fa-briefcase fa-3x"></i>
                <h3>YouTube</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, amet.</p>
            </div>
        </div>
    </section>

    <section class="about light">
        <div class="container">
            <div class="col-2">
                <div class="center">
                    <i class="fas fa-laptop-code fa-10x"></i>
                </div>
                <div>
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo cupiditate esse rerum ipsa, voluptatibus quae illum iure eos repellendus tempore suscipit vitae nemo nobis provident. Molestias eius consequatur voluptas veritatis repudiandae sed temporibus vitae, libero explicabo doloribus! Earum, asperiores.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="center dark">
        <p>Traversy Media &copy; 2025</p>
    </footer>
</body>
</html>