<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="../style/project6.css">
    <title>Exam</title>
</head>

<body>
    <header>
        <a href="" class="logo"><span>Ex</span>am</a>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">about</a>
            <a href="#Exams">Exams</a>
            <a href="#Upload">Upload</a>
            <a href="#contact">contact</a>
        </nav>
        <button class="btn-1" type="submit"><a href="../template/login.html">login</a></button>
    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>Examination</h3>
            <span>Display & Upload Exams</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, odit. Ut similique modi nam
                asperiores, libero molestiae dignissimos hic dolore!</p>
            <a href="" class="btn">Downlaod</a>
        </div>

    </section>

    <section class="exams" id="exams">
        <div class="heading">
            <h1>Latest <span>Exams</span></h1>
        </div>

        <div class="container">
            <div class="box">
                <span class="new">new</span>
                <div class="image">
                    <img src="../image/GXPv3byJ$.png" alt="">
                    <div class="icons-2">
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="cart-btn">Save</a>
                        <a href="" class="fas fa-share"></a>
                    </div>
                </div>

                <div class="content-2">
                    <h3>Mathmatic</h3>
                    <div class="year">2020 - <span>2021</span></div>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../image/GXPv3byJ$.png" alt="">
                    <div class="icons-2">
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="cart-btn">Downlaod</a>
                        <a href="" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content-2">
                    <h3>internet technology</h3>
                    <div class="year">2021 - <span>2022</span></div>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../image/GXPv3byJ$.png" alt="">
                    <div class="icons-2">
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="cart-btn">Downlaod</a>
                        <a href="" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content-2">
                    <h3>Design Compiler</h3>
                    <div class="year">2020 - <span>2021</span></div>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../image/GXPv3byJ$.png" alt="">
                    <div class="icons-2">
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="cart-btn">Downlaod</a>
                        <a href="" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content-2">
                    <h3>Mathmatic</h3>
                    <div class="year">2020 - <span>2021</span></div>
                </div>
            </div>
            <div class="box">
                <span class="new">New</span>
                <div class="image">
                    <img src="../image/GXPv3byJ$.png" alt="">
                    <div class="icons-2">
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="cart-btn">Downlaod</a>
                        <a href="" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content-2">
                    <h3>Database</h3>
                    <div class="year">2024 - <span>2025</span></div>
                </div>
            </div>
            <div class="box">
                <span class="new">New</span>
                <div class="image">
                    <img src="../image/GXPv3byJ$.png" alt="">
                    <div class="icons-2">
                        <a href="" class="fas fa-heart"></a>
                        <a href="" class="cart-btn">Downlaod</a>
                        <a href="" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content-2">
                    <h3>Database</h3>
                    <div class="year">2024 - <span>2025</span></div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>


    <section class="about light">
        <div class="container-2">
            <div class="col-2">
                <div class="center">
                    <img src="../image/nguyen-dang-hoang-nhu-cbEvoHbJnIE-unsplash.jpg" alt="">
                </div>
                <div>
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo cupiditate esse rerum ipsa,
                        voluptatibus quae illum iure eos repellendus tempore suscipit vitae nemo nobis provident.
                        Molestias eius consequatur voluptas veritatis repudiandae sed temporibus vitae, libero explicabo
                        doloribus! Earum, asperiores.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="center dark">
        <p>CopyRight &copy; 2025</p>
    </footer>
</body>

</html>