<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/table.css">
    <title>find Open Pharmacy</title>
</head>
<body>

    <div>
        <form action="">
            <input type="text" placeholder="Search Here...">
            <button type="submit">Search</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>Location</th>
                <th>Phone</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>0912345678</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Doaa Pharmacy</td>
                <td>Omdurman</td>
                <td>0942768476</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Khartoum 2 Pharmacy</td>
                <td>Khartoum</td>
                <td>0957373618</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>939873722</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Kawtheron Pharmacy</td>
                <td>Bahri</td>
                <td>0927351618</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Abu-Sin</td>
                <td>Khartoum</td>
                <td>0961575837</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>0982768761</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>939873722</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Kawtheron Pharmacy</td>
                <td>Bahri</td>
                <td>0927351618</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Abu-Sin</td>
                <td>Khartoum</td>
                <td>0961575837</td>
                <td class="open">Open</td>
            </tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>987982182</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>939873722</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Kawtheron Pharmacy</td>
                <td>Bahri</td>
                <td>0927351618</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Abu-Sin</td>
                <td>Khartoum</td>
                <td>096157587</td>
                <td class="open">Open</td>
            </tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>092687661</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>939873722</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Kawtheron Pharmacy</td>
                <td>Bahri</td>
                <td>0927351618</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Abu-Sin</td>
                <td>Khartoum</td>
                <td>0961575837</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>092761687</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>939873722</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Kawtheron Pharmacy</td>
                <td>Bahri</td>
                <td>0927351618</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Abu-Sin</td>
                <td>Khartoum</td>
                <td>0961575837</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>0938718763</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>939873722</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Kawtheron Pharmacy</td>
                <td>Bahri</td>
                <td>0927351618</td>
                <td class="close">Close</td>
            </tr>
            <tr>
                <td>Abu-Sin</td>
                <td>Khartoum</td>
                <td>0961575837</td>
                <td class="open">Open</td>
            </tr>
            <tr>
                <td>Alwasila</td>
                <td>Khartoum</td>
                <td>0938787617</td>
                <td class="close">Close</td>
            </tr>
        </tbody>
    </table>
</body>
</html>