<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="../style/Task8.css">
    <title>Booking Site</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="cf">
                <img src="../image/logo.png" alt="" class="logo">
                <ul class='cf'>
                    <li class="hide-on-small">
                        <a href="#showcase">Travel Guide</a>
                    </li>
                    <li>
                        <a href='#showcase'>Famouse Places</a>
                    </li>
                    <li>
                        <a href='#book'>Contact Us</a>
                    </li>
                </ul>
                <button class="btn"><img src=""><img src="../image/icon.png" alt="">Booking</button>
            </nav>

            <div class="text">
                <h1>Beautiful<br>Places To Explore</h1>
                <p>Ensuring that the world Heritage sites sustain theis outstanding
                    universla value is an increasingly challenging mission
                </p>
                <form>
                    <input placeholder="City Name" type="text">
                    <button type="submit" class="btn-2">Search</button>
                </form>
            </div>
        </div>
    </header>

    <section class="services">
        <div class="container-2 col-3 center">
            <div>
                <i class="fa-solid fa-ticket-simple fa-4x"></i>
                <h3>Tickets</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, amet.</p>
            </div>
            <div>
                <i class="fa-solid fa-hotel fa-4x"></i>
                <h3>Hotel</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, amet.</p>
            </div>
            <div>
                <i class="fa-solid fa-car fa-4x"></i>
                <h3>Transportation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, amet.</p>
            </div>
        </div>
    </section>

    <section class="about light">
        <div class="container-2">
            <div class="col-2">
                <div class="center">
                    <i class="fa-solid fa-plane fa-10x"></i>
                </div>
                <div>
                    <h3>Information</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo cupiditate esse rerum ipsa,
                        voluptatibus quae illum iure eos repellendus tempore suscipit vitae nemo nobis provident.
                        Molestias eius consequatur voluptas veritatis repudiandae sed temporibus vitae, libero explicabo
                        doloribus! Earum, asperiores.</p>
                </div>
            </div>
        </div>
    </section>


    <footer class="center dark">
        <p>CopyRight &copy; 2025</p>
    </footer>

</body>

</html>