<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/Grid.css">
    <title>Task Grid In Css</title>
</head>

<body>
    <div class="wrapper">
        <div class="info">
            <div class="grid">
                <img src="../image/image1.png" alt="">
                <h3>HTML 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Et, provident?</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="grid">
                <img src="../image/image1.png" alt="">
                <h3>HTML 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Et, provident?</p>
                <a href="#" class="btn">Read More</a>
            </div>


            <div class="grid">
                <img src="../image/image1.png" alt="">
                <h3>HTML 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Et, provident?</p>
                <a href="#" class="btn">Read More</a>
            </div>


            <div class="grid">
                <img src="../image/image1.png" alt="">
                <h3>HTML 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Et, provident?</p>
                <a href="#" class="btn">Read More</a>
            </div>


            <div class="grid">
                <img src="../image/image1.png" alt="">
                <h3>HTML 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Et, provident?</p>
                <a href="#" class="btn">Read More</a>
            </div>


            <div class="grid">
                <img src="../image/image1.png" alt="">
                <h3>HTML 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Et, provident?</p>
                <a href="#" class="btn">Read More</a>
            </div>

        </div>




    </div>
</body>

</html>