body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: #FFFFFF;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background: url(/image) no-repeat;
    background: #35424a;
    text-align: center;
    color: #FFFFFF;
}
#showcase h2{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding: 15px;
    color: #FFFFFF;
    background: #35244a;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    border-radius: 15px;
}
#newsletter button{
    height: 40px;
    padding: 0 20px 0 20px;
    color: #FFFFFF;
    background: #e8491d;
    border: none;
    border-radius: 15px;
}


#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}

footer{
    padding: 20px;
    margin: 20px;
    color: #FFFFFF;
    text-align: center;
    background: #e8491d;
}

@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button{
        display: block;
        width: 100%;
    }
    #newsletter input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }
}